page-interview-exercise-4 {
    .outerDiv{
      margin-left: 38%; position: relative; height: 250px; width: 250px; border: #3880ff solid 5px; border-radius: 50%;
    }
    .outerDivDashed{
      margin-left: 38%; position: relative; height: 250px; width: 250px; border: #3880ff dashed 5px; border-radius: 50%; 
    }
    .innerDiv{
        background-color: #213ad0;
        transition: transform .4s;
        height: 230px; 
        width: 230px;
        border-radius: 50%;
        margin: 2%;
        text-align: center;
    }
    .logo{
      color: white; font-size: xxx-large;
    }
    .tagline{
        margin-top: 6px;
        margin-left: 45%;
        color: #999;
    }
    .welcomeTagline{
      // margin-top: 25px;
      margin-left: 48%;
      color: #999;
    }
    .innerDivTransform {
        -ms-transform: scale(3.5); /* IE 9 */
        -webkit-transform: scale(3.5); /* Safari 3-8 */
        transform: scale(3.5); 
    }

    .fade-out {
        animation: fadeOut ease 8s;
        -webkit-animation: fadeOut ease 8s;
        -moz-animation: fadeOut ease 8s;
        -o-animation: fadeOut ease 8s;
        -ms-animation: fadeOut ease 8s;
      }
      @keyframes fadeOut {
        0% {
          opacity:1;
        }
        100% {
          opacity:0;
        }
      }
      
      @-moz-keyframes fadeOut {
        0% {
          opacity:1;
        }
        100% {
          opacity:0;
        }
      }
      
      @-webkit-keyframes fadeOut {
        0% {
          opacity:1;
        }
        100% {
          opacity:0;
        }
      }
      
      @-o-keyframes fadeOut {
        0% {
          opacity:1;
        }
        100% {
          opacity:0;
        }
      }
      
      @-ms-keyframes fadeOut {
        0% {
          opacity:1;
        }
        100% {
          opacity:0;
        }
      }

    .fade-in {
        animation: fadeIn ease 10s;
        -webkit-animation: fadeIn ease 10s;
        -moz-animation: fadeIn ease 10s;
        -o-animation: fadeIn ease 10s;
        -ms-animation: fadeIn ease 10s;
      }
      @keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-moz-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-webkit-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-o-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-ms-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }

      .outerDivRotate {
        position: relative;
        margin-left: 38%;
        height: 250px;
        width: 250px;
        border-radius: 50%;
      }
      
      .outerDivRotate:before {
        position: absolute;
        content: '';
        height: calc(100% + 10px); 
        width: calc(100% + 10px); 
        border: 5px dashed #3880ff;
        border-radius: inherit;
        animation: spin 10s linear infinite;
      }
      
      @keyframes spin { 
        100% { 
          transform: rotateZ(360deg); 
        }
      }
}
