<ion-header>
  <ion-navbar>
    <ion-title>Interview-Exercise-4</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h1 *ngIf="isWelComeTag" [ngClass]="welcomeTagClasses">Welcome</h1>

  <div [ngClass]="outerClasses">
    <div *ngIf="isFirstTransmission" (click)="action()" [ngClass]="innerClasses">
      <br><br><br><br>
      <h1 [ngClass]="logoClasses">FORT</h1>
    </div>
    <img *ngIf="isFinalTransmission" class="fade-in" style="height: 170px; width: 170px; 
    margin: 50px;" src="../../assets/imgs/FORT - assessment - after2.png" alt="">
  </div>

  <h1 *ngIf="isFIrstTag" [ngClass]="tagClasses">{{tagLine}}</h1>

</ion-content>
